name: .NET format

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  dotnet-format:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore src/Chefs.sln
    # current bug causing bad whitespace changes
    # - name: Verify whitespace
    #   run: dotnet format whitespace src/Chefs.sln --verify-no-changes --verbosity diagnostic
    - name: Verify code style
      run: dotnet format style src/Chefs.sln --verify-no-changes --verbosity diagnostic